PORT=3000

##########DATABASE##########
MONGO_URI=mongodb://127.0.0.1:27017/mep-db

##########SWAGGER##########
API_TITLE=Mep API

##########SEED USERS PASSWORD##########
SEED_ADMIN_PASSWORD=
SEED_TEST_PASSWORD=

##########JWT##########
JWT_SECRET=secret@KEY&2021
EXPIRES_IN=3600s

##########CLOUDINARY##########
CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_SECRET=